@{   ViewData["Title"] = "Home Page";
    <link href="~/styles/style.css" rel="stylesheet" />}
<h1>Logowanie </h1> <pre id="json" style="color: darkred; white-space:pre-wrap; text-align:start">@ViewBag.LoginMessage</pre>
<div  id = "myForm">
    <!-- form starts here -->
    <form asp-controller="Account" asp-action="Verify">
        <form action="Verify" method="post">
            <div class="agile-field-txt">
                <label class = "formLabel"><i class="fa fa-user" aria-hidden="true" ></i> Login </label>
                <input type="text" name="Name" placeholder="Wprowadź nazwę użytkownika" required="" class = "myInputs fS15" />
            </div>
            <div class="agile-field-txt">
                <label class = "formLabel"l><i class="fa fa-unlock-alt" aria-hidden="true"></i> Hasło </label>
                <input type="password" name="Password" placeholder="Wprowadź hasło" required="" id="myInput" class = "myInputs fS15" />
                <div class="agile_label">
                    <input id="check3" name="check3" type="checkbox" value="show password" onclick="showPassword()">
                    <label class="check " for="check3">Pokaż hasło</label>
                </div>
                <div class="agile-right">
                   @Html.ActionLink("Rejestracja", "Register", "Account")
                </div>
                <div class="agile-right ">
                   @Html.ActionLink("Reset hasła", "ResetPassword", "Account")
                </div>
            </div>
            <!-- script for show password -->
            <script>
                function showPassword() {
                    var x = document.getElementById("myInput");
                    if (x.type === "password") {
                        x.type = "text";
                    } else {
                        x.type = "password";
                    }
                }
            </script>
            <!-- //end script -->
            <input type="submit" value="Zaloguj" class = "btn btn-light" id = "btnSubmit">
        </form>
    </form>
</div>
<!-- //form ends here -->
<!--copyright-->
<div><p>© PD2023. All Rights Reserved</p></div>
<!--//copyright-->