@{    ViewData["Title"] = "Register error!";
    <link href="~/styles/style.css" rel="stylesheet" />}
<h1>Coś poszło nie tak</h1>
<pre id="json" style="color: darkred; white-space:pre-wrap; text-align:start">@ViewBag.RegisterError</pre>
<div><a>@Html.ActionLink("Spróbuj ponownie", "Register", "Account")</a></div>
@*<pre id="json" style="color: white; white-space:pre-wrap; text-align:start">@ViewBag.ErrorMessage</pre>*@
