@{ViewData["Title"] = "Deleted";
    <link href="~/styles/style.css" rel="stylesheet" />}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<h2>Adres usunięto</h2>
 <button type="button" class="btn aButton">
                        @Html.ActionLink(
                            "Powrót",
                            "Index",
                            "Account",                          
                            htmlAttributes: null)
                        </button>
@*<script src="~/js/GetInput.js"></script>*@