@{
    ViewData["Title"] = "Reset Password";
    <link href="~/styles/style.css" rel="stylesheet" />
}
<h1>Resetowanie hasła</h1>
<div class="clear-loading spinner" id = "myForm">
    <span></span>
</div>
<div class="w3ls-login box box--big">
    <!-- form starts here -->
    <form asp-controller="Account" asp-action="SendEmail">
        <form action="Verify" method="post">
            <div class="agile-field-txt" >
                <label class = "formLabel"><i class="fa fa-user" aria-hidden="true"></i> E-mail </label>
                <input type="email" name="EmailToResetPass" placeholder="Podaj swój adres e-mail" required="" class = "myInputs fS15"/>
            </div>                                
                <div class="agile-right">
                    @Html.ActionLink("Powrót", "Login", "Account")
                </div>

            <input type="submit" value="Reset"  id = "btnSubmit" class="btn btn-light">
        </form>
    </form>
</div>
<!-- //form ends here -->
<!--copyright-->
<div class="copy-wthree">
    <p>
        © PD2023. All Rights Reserved
    </p>
</div>
<!--//copyright-->