@{
    ViewData["Title"] = "Confirm reset password";
    <link href="~/styles/style.css" rel="stylesheet" />
}
<h1>Resetowanie hasła</h1>
<div><p>Wysłaliśmy token resetujący hasło na podany adres mailowy</p></div>
<div><p>Wprowadź nowe hasło oraz token poniżej</p></div>
<div>
    <!-- form starts here -->
    <form asp-controller="Account" asp-action="ResetPasswordConfirm">
        <form action="ResetPasswordConfirm" method="post">
            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Wpisz nowe hasło: </label>
                <input type="password" name="NewPassword" placeholder="hasło" required="" />
            </div>
            <div class="agile-field-txt">
                <label><i class="fa fa-user" aria-hidden="true"></i> Wpisz token: </label>
                <input type="text" name="WrittenToken" placeholder="token" required="" />
            </div>
            <div hidden>
                <label><i class="fa fa-user" aria-hidden="true"></i> tu jest ukryte pole z tokenem </label>
                <input type="text" name="token" value="@ViewBag.EmailContent" placeholder="token" required="" />
            </div>
            <div hidden>
                <label><i class="fa fa-user" aria-hidden="true"></i> tu jest ukryte pole z emailem </label>
                <input type="text" name="mailConfirmed" value="@ViewBag.EmailConfirm" placeholder="mail" required="" />
            </div>
            <div class="agile-right">
                <a>@Html.ActionLink("Powrót", "Login", "Account")</a>
            </div>
            <input type="submit" value="Potwierdź">
            @*@ViewBag WrongReset*@
        </form>
    </form>
</div>
<!-- //form ends here -->
<!--copyright-->
<div><p>© PD2023. All Rights Reserved</p></div>
<!--//copyright-->