@{
    ViewBag.Title = "Index";
}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<h1>'@TempData["wojewodztwo2"]'</h1>
<div class="row">
    <div class="form-group col-md-2">
        <input type="text" name="country" class="form-control" value="Polska" id="txtCountry" disabled />
    </div>

    <div class="form-group col-md-4">
        <input type="text" name="city" class="form-control" value='@TempData["nazwa2"]' id="txtCity" />
    </div>
<div class="form-group col-md-2">
        <input type="text" name="street" class="form-control" value="@TempData["ulica"]" id="txtStreet"  />
    </div>
    <div class="form-group col-md-4">
        <input type="button"  id="search" class="btn btn-info" value="Search" />
    </div>

    <div class="form-group col-md-4">
        <input type="button" id="save" class="btn btn-info" value="Save" />
    </div>

</div>
<div id="map-canvas" style="height: 500px; width: 500px">
</div>



@*<form asp-controller="GoogleMap" asp-action="SaveAddress">
    <div class="row">
        <div class="form-group col-md-4">
            <input type="text" name="city" class="form-control" id="txtCity" />
        </div>
        <div class="form-group col-md-4">
            <input type="text" name="country" class="form-control" id="txtCon" />
        </div>
        <div class="form-group col-md-4">
            <input type="button" id="btn" class="btn btn-info" value="Search" />
        </div>

        <div class="form-group col-md-4">
            <input type="button" id="save" class="btn btn-info" value="Save" />
        </div>

    </div>
    <div id="map-canvas" style="height: 500px; width: 500px">
    </div>

    </form>*@
<script src="~/js/googleMap.js"></script>
<script src="~/js/GetInput.js"></script>